{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SDAI</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SDAI</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">HOME</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Register/Login<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/register/">Register</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/login/">Login</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- 侧边栏区域 -->
        <div class="col-md-2 sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li><a class="btn btn-default" href="/project/create" role="button">Create Projects</a></li>
                <li><H2>My Projects</H2></li>

            </ul>

            {#      项目和组#}
            <div class="container my-5">
                {% for group, project in group_projects %}
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-header bg-primary text-white">
                                    <h3 class="d-flex justify-content-between align-items-center mb-0">
                                        <span>{{ group.name }}</span>
                                        <span>{{ project.name }}</span>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <a href="{% url 'project_detail' project.id %}" class="btn btn-secondary">Go
                                                to
                                                Project</a>
                                            <a href="{% url 'group_detail' group.id %}" class="btn btn-secondary">Go to
                                                Group</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>


        <!-- 主体区域 -->
        <div class="col-md-10 main-content">
            <!-- 左右两个平分的区域 -->
            <div class="row">
                <!-- 左半边，用于展示甘特图 -->
                <div class="col-md-6" id="gantt-chart">
                    <h2>Gantt Chart</h2>
                    <!-- 这里放置甘特图的内容 -->
                </div>

                <!-- 右半边，用于展示报告 -->
                <div class="col-md-6" id="report">
                    <h2>Report</h2>
                    <p>This is a simple report.</p>
                    <table class="table table-striped">
                        <!-- 表格内容 -->
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
