{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/project.css' %}">
</head>
<body>
<h1>Your Groups and Projects Here</h1>

{% for group, project in group_projects %}
    <h2>{{ group.name }}</h2>
    <ul>
        <li>{{ project.name }} <a href="{% url 'project_detail' project.id %}">
            <button>Go to Project</button>
        </a></li>
    </ul>

    <a href="{% url 'group_detail' group.id %}">
        <button>Go to Group</button>
    </a>
{% endfor %}


<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>